<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239207144494-mte6hmn53gflhceeqn3puctm6uiolr9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239207144494-mte6hmn53gflhceeqn3puctm6uiolr9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>239207144494-qhq8urd1rq3npk86bs1kvqma3ulvtbbj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQZzISv-L8xmhUV6n6yPuTF1f0OH_uhOc</string>
	<key>GCM_SENDER_ID</key>
	<string>239207144494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auro.investapp</string>
	<key>PROJECT_ID</key>
	<string>investapp-e67b3</string>
	<key>STORAGE_BUCKET</key>
	<string>investapp-e67b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239207144494:ios:68374d2c6ab6ab7bf013bf</string>
</dict>
</plist>